# RewriteEngine on
# RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
# RewriteRule ^ /%1 [NC,L,R]
# RewriteCond %{REQUEST_FILENAME}.html -f
# RewriteRule ^ %{REQUEST_URI}.html [NC,L]
RewriteCond %{REQUEST_URI} !-f
RewriteRule (.+) index.php?p=$1 [QSA,L,E=REQUEST_FILENAME:%{REQUEST_FILENAME}]
